@media all and (max-width: 1000px) {

  .heading-extra1 {
    font-size: 20px;
  }
  
  .member {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  /*header*/
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  /*menu utama*/
  .bagianutama {
    text-align: left;
  }
  
  .bagianutama h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .bagianutama p {
    font-size: 14px;
    line-height: 20px;
  }
  
  /*extra 1*/
  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .twitter {
    margin-bottom: 10px;
  }

  .member {
    width: 100%;
  }

}
