@media (max-width:1000px) {
  /*bagian utama*/
  .member {
    width: 50%;
    margin-bottom:50px;
  }
  /*extra 1*/
.skill {
  width: 50%;
  margin-bottom:50px;
}
}


@media (max-width:670px) {
  
  .btn{
    width:100%;
  }
/*header*/
.menu-icon{
  display:block;
}
.header-right{ display: none;
}
/*home*/
  .home{
    text-align: center;
    padding-top:130px;
  }
  .home h1{
    font-size: 30px;
    letter-spacing: 15px;
    padding-bottom: 25px;
  }
  .home p{
    font-size: 10px;
  }
  .deskripsi p{
    font-size: 10px;
    width:300px;
  }
/*bagian utama*/
  .member {
    width: 100%;
    margin-bottom:50px;
  }
.facebook{
  margin-bottom: 10px;
}
.twitter{
  margin-bottom: 10px;
}

.heading-bagian-utama h2{
  font-size: 20px;
}
.heading-bagian-utama h3{
  font-size: 15px;
}
/*extra 1*/
.judul h2{
  font-size: 20px;
}
.txt-contents {
  font-size: 10px;
}

.skill {
  width: 100%;
  margin-bottom:50px;
  }
/*extra 2*/
.contact-us h1{
  font-size: 20px;
}
.contact-us h4{
  font-size: 15px;
}
.contact-form{
  width: 60%;
}


}
